a.navbar-brand {
    color: white !important;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.logo-img {
    margin-right: 10px;
}

.navbar {
    display: flex;
    background-color: rgb(114, 70, 149);
}
.navbar-title {
    color: white !important;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
