.itemContainer {
    cursor: pointer;
    flex: 1 0 25%;
    max-width: 33%;
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(197, 177, 206);
    animation: fade_in_show 0.3s;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .itemContainer {
        flex: 1 1 100% !important;
        max-width: 100%;
        margin: 10px;
        border-radius: 10px;
        background-color: rgb(197, 177, 206);
    }
}

.itemWrapper {
    display: flex;
}

.img-thumbnail {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.thumbnail {
    background-color: rgb(185, 165, 190);
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    flex: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
}

.content {
    flex: 3;
    margin: auto;
}

@media (max-width: 600px) {
    .content {
        margin: auto;
        flex: 3;
        text-align: center;
    }
}