.pagination ul {
    display: inline-block;
    padding: 15px;
}

.pagination li {
    cursor: pointer;
    user-select: none;
    flex: 1;
    margin: 5px;
}
a {
    user-select: none;
    font-weight: bold;
    color: purple;
}
a:hover {
    font-weight: bold;
    color: purple;
}
.active {
    background-color: rgb(240, 232, 240) !important;
    border: solid 1px rgb(97, 67, 97);
    color: rebeccapurple !important;
    border-radius: 20px;
}
.paginateWrapper {
    text-align: center;
}
.pagination {
    border-radius: 20px;

    background-color: rgb(231, 223, 231);
    text-align: center;
    align-self: center;
    padding: 15px;
}
